$black: #333;
$box-shadow: 1px 1px 5px #aaa;
$border: solid 1px #aaa;

body{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

button{
    $bg: #57c657;;
    box-shadow: $box-shadow;
    background-color: $bg;
    padding: 9px;
    font-family: "Roboto", sans-serif;
    color: white;
    text-transform: uppercase;
    border: $border;
    border-radius: 3px;

    &:active{
        background-color: darken($bg, 10%);
    }
}