$black: #333;
$box-shadow: 1px 1px 5px #aaa;
$border: solid 1px #aaa;

body{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

button{
    box-shadow: $box-shadow;
    background-color: #3baf3b;
    padding: 9px;
    font-family: "Roboto", sans-serif;
    color: white;
    text-transform: uppercase;
    border: $border;
}